{% extends 'blog.html' %}

{% block header %}
  <h1>{% block title %}Mongo Blogs{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="w3-container">
    <h1>{{blog.titulo}}</h1>

    {% if current_user.is_authenticated %}
    <div class="w3-container">
      <a href="{{ url_for('post.get_novo', blog_id=blog._id) }}" class="w3-button w3-blue w3-hover-indigo">Novo post</a>
    </div>
    {% endif %}
    <p>Descrição do Blog: {{blog.descricao}}</p>
    
    <ul>
      {% for post in blog.posts %}
      <li>
        <a href="{{ url_for('post.get_post', blog_id=blog._id, post_id=post._id) }}">{{ post.titulo }} ({{ post.data_cadastro }})</a>
      </li>
      {% else %}
      <li>Nenhum post cadastrado ainda.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}