{% extends 'blog.html' %}

{% block content %}
<div class="w3-container">
  <br>
  <form method="post" action="{{ url_for('post.post_novo', blog_id=blog_id) }}">
    <h2>{{blog_id}}</h2>
    <input name="data_hora" id="data_hora" type="text" value="{{data_hora}}" required>
    <br>
    <label for="titulo">Título do post</label>
    <br>
    <input name="titulo" id="titulo" required>
    <br>
    <label for="descricao">Descrição</label>
    <br>
    <textarea id="descricao" name="descricao" rows="6"></textarea>
    <br>
    <input type="submit" value="Enviar">
  </form>
  {#
    <form class="w3-container w3-margin-bottom" method="get" action="{{ url_for('usuario.post_cadastro') }}">
      <h2>{{title}}</h2>
      <input class="w3-input w3-border w3-light-grey w3-focus-red w3-round" name="q" type="text" placeholder="Digite aqui sua busca e pressione enter">
    </form>    
#}
</div>
{% endblock %}