{% extends 'blog.html' %}

{% block content %}

<div class="w3-large">
    <h1>Sobre</h1>

    <h2>ATIVIDADE 4 – Aplicação Prática do MongoDB</h2>
    <h3>Pós graduação Latu Sensu em Big Data</h3>
    <ul>
        <li><strong>Disciplina:</strong> Bancos de dados Não Relacionais - NoSQL (2019.1)</li>
        <li><strong>Professor:</strong> Dr. Rafael Queiroz Gonçalves, PMP</li>
    </ul>

    <p>
        Esta atividade consiste no desenvolvimento de um sistema computacional atendendo aos requisitos funcionais já
        estabelecidos. Dentre os requisitos não funcionais o sistema deve ser obrigatoriamente web-based, acessível via
        navegadores HTTP, e pode ser implementando com a linguagem de programação de preferência. Entretanto, como
        repositório de dados, deve-se obrigatoriamente adotar o banco de dados MongoDB.
    </p>
    <hr>
    <p><strong>Requisitos funcionais:</strong></p>

    <ol>
        <li><span class="fa fa-check w3-text-green"></span> O sistema deverá registrar o conteúdo de blogs a serem publicados na internet.</li>
        <li><span class="fa fa-check w3-text-green"></span> Um Blog terá unicamente um usuário “proprietário”.</li>
        <li><span class="fa fa-check w3-text-green"></span> Um Blog pode conter uma descrição simples indicando sua finalidade.</li>
        <li><span class="fa fa-check w3-text-green"></span> Um blog pode conter “0-n” postagens (posts).</li>
        <li><span class="fa fa-check w3-text-green"></span> Uma postagem pode conter uma estrutura dinâmica, contendo minimamente o título da postagem, o conteúdo, e a
            data
            e hora de publicação.</li>
        <li><span class="fa fa-times w3-text-red"></span> O conteúdo de uma postagem pode opcionalmente ser fracionado um “seções”, devendo estas estar ordenadas, e
            conter um “subtítulo” e seu conteúdo.</li>
        <li><span class="fa fa-times w3-text-red"></span> O conteúdo de uma seção, também pode conter outras “subseções”.</li>
        <li><span class="fa fa-check w3-text-green"></span> O sistema deve suportar que um usuário anônimo crie uma nova conta.</li>
        <li><span class="fa fa-check w3-text-green"></span> O sistema deve suportar que o usuário anônimo, com conta criada, se autentique (login e senha).</li>
        <li><span class="fa fa-check w3-text-green"></span> A criação de blogs só será possível por usuários autenticados.</li>
        <li><span class="fa fa-check w3-text-green"></span> Todos os blogs serão públicos (acessíveis a partir da tela inicial do sistema mesmo por usuários não
            autenticados).</li>
        <li><span class="fa fa-check w3-text-green"></span> A tela inicial do sistema deve apresentar todos os Blogs existentes, em ordem descendente pela data do
            último
            post.</li>
        <li><span class="fa fa-times w3-text-red"></span> Ao acessar um Blog deve ser relacionado todos os posts em ordem decrescente da data de publicação.</li>
        <li><span class="fa fa-times w3-text-red"></span> O sistema deve apresentar todos os dados de um post, destacando, se houver, o título de cada seção ou
            subseção.
        </li>
    </ol>
</div>
{% endblock %}